:root {
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    background-color: rgb(243, 245, 247);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

img,
svg,
video,
picture {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

/* Reset */



/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2em;
}

.logo {
    margin: 0.5em;
}

.logo a {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 46, 77);
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.header__icon {
    display: flex;
    gap: 1.2em;
    align-items: center;
}

.add__btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 46, 77);
    padding: 15px 10px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add__btn:hover,
.logo a:hover {
    opacity: 0.85;
}

.user__icon {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: rgb(245, 249, 252);
    background-color: rgb(207, 212, 226);
}

.user__text {
    color: rgb(137, 139, 143);
    margin: 0 5px;
}

.user__clr {
    cursor: pointer;
    color: rgb(137, 139, 143);
    transition: transform 0.1s;
}

.user__clr:hover {
    transform: rotate(180deg);
}

/* Header */



/* Navbar */

nav {
    max-width: 1180px;
    margin: 0 auto;
    padding: 3em 1em;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav__title {
    color: rgb(36, 29, 86);
    font-size: var(--size-3xl);
    font-weight: 600;
    line-height: 1.5;
}

.nav__desc {
    color: rgb(137, 139, 143);
    font-size: var(--size-sm);
    line-height: 1.5;
}

.icon__group {
    display: flex;
    gap: 1em;
}

.icon__group i {
    cursor: pointer;
    font-size: var(--size-lg);
}

.fa-magnifying-glass {
    color: rgb(137, 139, 143);
}

.fa-border-all {
    color: rgb(91, 92, 112);
}

.fa-bars {
    color: rgb(130, 138, 224);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 80px;
    font-size: var(--size-xxs);
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -39px;
    color: rgb(243, 245, 247);
    background-color: rgb(35, 35, 74);
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(35, 35, 74) transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* Navbar */



/* Main Section */

main {
    padding: 1em 1em 3em;
}

section {
    cursor: grab;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.flow-content>*+* {
    margin-top: 1.5em;
}

.desc {
    display: flex;
    align-items: center;
    gap: 1em;
}

.desc img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.desc h2 {
    color: rgb(35, 35, 74);
    font-size: var(--size-lg);
    font-weight: 600;
}

.task {
    display: flex;
    gap: 1.5em;
    align-items: center;
    padding-right: 1em;
}

.task__due {
    font-size: var(--size-sm);
    color: rgb(221, 109, 97);
}

.task__list {
    font-size: var(--size-sm);
    padding: 0.5em 1em;
    border-radius: 5px;
    color: rgb(35, 35, 74);
    background-color: rgb(243, 245, 247);
}

.fa-ellipsis {
    cursor: pointer;
    padding: 0.5em 0.7em;
    border-radius: 5px;
    color: rgb(35, 46, 77);
    background-color: rgb(243, 245, 247);
}

.fa-ellipsis:hover {
    opacity: 0.85;
}

.none {
    display: none;
}

/* Main Section */



/* Media Queries */

@media (max-width: 924px) {
    .flow-content>*+* {
        margin-top: 0;
    }

    .flex__group {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 300px;
        flex-direction: column;
        border-radius: 10px;
        padding: 1.5em 0;
    }

    .none {
        display: block;
    }

    .desc {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2em;
    }

    .desc h2 {
        cursor: pointer;
        padding-left: 1em;
        padding-right: 1em;
        font-size: var(--size-xl);
    }

    .desc h2:hover {
        text-decoration: underline;
    }

    .task {
        flex-direction: column;
        gap: 0.5em;
        position: relative;
        padding-right: 0;
    }

    .task__list {
        display: block;
        width: 90%;
        text-align: center;
    }

    .fa-ellipsis {
        position: absolute;
        top: -140px;
        right: 10px;
    }
}

@media (max-width: 640px) {
    .nav__row {
        display: flex;
        gap: 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title__desc {
        text-align: center;
    }
}

@media (max-width: 475px) {
    header {
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1.5em;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        margin: 1em;
    }

    .logo a {
        padding: 1em 2em;
        border-radius: 5px;
    }

    .header__icon {
        gap: 1.5em;
    }

    .add__btn {
        border-radius: 10px;
        padding: 15px;
    }
}
